<div class="nav-items">
    <div class="nav-item">
      <fa-icon [icon]="iconService.faDashboard"></fa-icon>
      <span>Dashboard</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="iconService.faLocation"></fa-icon>
      <span>Locations</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="iconService.faShop"></fa-icon>
      <span>Shops</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="iconService.faBox"></fa-icon>
      <span>Products</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="iconService.faMoneyBill"></fa-icon>
      <span>Sales</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="iconService.faChartBar"></fa-icon>
      <span>Statistics</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="iconService.faContactBook"></fa-icon>
      <span>Contact</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="iconService.faHand"></fa-icon>
      <span>Help</span>
    </div>
  </div>